.app {
     /* Add app styles here */
}

.pie-chart-legend {
    color: #3E576F;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #909090;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pie-chart-legend .legend-swatch {
    width: 17px;
    height: 12px;
    border: 1px solid #EEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 0 3px 0 6px;
}
.pie-chart-legend .legend-swatch.none-sample-swatch {
    background: #c56f64;
    /* light-gray */
}
.pie-chart-legend .legend-swatch.short-sample-swatch {
    background: #5faf4c;
}
.pie-chart-legend .legend-swatch.strategic-sample-swatch {
    background: #7963cb;
}
.pie-chart-legend .legend-swatch.cost-sample-swatch {
    background: #b5b246;
    /* rally red */
}
.pie-chart-legend .legend-swatch.maintenance-sample-swatch {
    background: #c063ba;
    /* rally red */
}
.pie-chart-legend .legend-swatch.errors-sample-swatch {
    background: #4bae8f;
    /* rally red */
}
.pie-chart-legend .legend-swatch.order-sample-swatch {
    background: #cd4739;
    /* rally red */
}
.pie-chart-legend .legend-swatch.time-sample-swatch {
    background: #678ecd;
    /* rally red */
}
.pie-chart-legend .legend-swatch.operational-sample-swatch {
    background: #d08940;
    /* rally red */
}
.pie-chart-legend .legend-swatch.product-progress-sample-swatch {
    background: #c75481;
    /* rally red */
}
.pie-chart-legend .legend-swatch.tech-sample-swatch {
    background: #737632;
    /* rally red */
}
